*{
    margin: 0;
    box-sizing: content-box;

}

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

body{
    font-family: monospace;

}

h1,h2{
    color: rgb(31, 31, 31);
    font-family: fantasy,sans-serif;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    font-family: cursive
}
p {
    font-size: 18px;
    color: darkgreen;
    font-family: cursive
}

.header{
    font-size: 13px;
}

.addressClass {
    color: aqua
}

.container {
    width: 1140px;
/*
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
*/
    margin: 30px auto 15px auto;
}

.blog-post {
    width: 75%;
    float: left;
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 15px;
    border-top: 1px solid #39f70c;
}

.other {
    margin: auto auto 30px 20px;
}

.blog-post img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    float: left;
}

.learnHtml5{
    float: left;
    margin: 50px auto auto 50px;
}

